.contact-details, .profile__contact-details {
  display: grid;
  grid-template-columns: 165px 35px;
  grid-template-rows: 50px repeat(5, 25px);
  column-gap: 0.5em;
  padding: var(--auto-size) var(--xsmall-size);
  align-items: center;
}
.contact-details::before, .profile__contact-details::before {
  content: "";
  border-right: 2px solid var(--primary-color);
  position: absolute;
  top: 66px;
  height: 60%;
  width: 13.5em;
}
.contact-details h1, .profile__contact-details h1,
.contact-details h2,
.profile__contact-details h2,
.contact-details h3,
.profile__contact-details h3,
.contact-details h4,
.profile__contact-details h4,
.contact-details h5,
.profile__contact-details h5,
.contact-details h6,
.profile__contact-details h6 {
  grid-column: span 2;
  grid-row: 1;
}
.contact-details .heading, .profile__contact-details .heading {
  width: 100%;
}
.contact-details__text, .contact-details__link {
  grid-column: 1;
  font-size: 1rem;
  text-align: end;
}
.contact-details__icon {
  font-size: 20px;
  text-align: center;
  color: var(--accent-color);
}

.profile__contact-details {
  grid-template-rows: repeat(5, 25px);
}
.profile__contact-details::before {
  content: none;
}
.profile__paragraph {
  max-width: 70ch;
  color: var(--accent-color);
}

.personal-projects {
  background-color: var(--primary-color);
}
.personal-projects__project {
  padding-block: var(--xsmall-size);
  font-size: 0.9em;
}
.personal-projects__list {
  padding: 0;
}
.personal-projects__proj-img > img {
  display: none;
}
.personal-projects__proj-name {
  font-weight: bold;
  font-size: 1rem;
}
.personal-projects__proj-summary {
  margin: var(--auto-size) var(--xsmall-size);
  max-width: 60ch;
}
