$base-bg: #f3f3f3;
$base-text: #4d4d4d;
$base-primary: #ddd;
$base-accent: #069992;
$base-link: #069968;
$base-card-title: #002b22;

$dark-bg: #4d4d4d;
$dark-text: #f3f3f3;
$dark-primary: #777777;
$dark-accent: #07c185;
$dark-link: #069968;
$dark-card-title: #39dfc0;

$giza-bg: #4d4d4d;
$giza-text: #f3f3f3;
$giza-primary: #2c963e;
$giza-accent: #d8b907;
$giza-link: #037224;

$colors: (
	bg: $base-bg,
	// subdued: #ddd,
	text: $base-text,
	// primary: #2c963e,
	// accent: #d8b907,
	// primary: #d8b907,
	// accent: #2c963e,
	// link: #037224,
	primary: $base-primary,
	accent: $base-accent,
	link: $base-link
) !default;
