$colors: (
	body: #f3f3f3,
	// subdued: #ddd,
	text: #4d4d4d,
	// primary: #2c963e,
	// accent: #d8b907,
	// primary: #d8b907,
	// accent: #2c963e,
	// link: #037224,
	primary: #ddd,
	accent: #069992,
	link: #069968,
) !default;
