@use 'sass:string' as *;

$primary-ff: quote('Poppins'), sans-serif !default;
$secondary-ff: quote('Inter'), sans-serif !default;
$accent-ff: quote('Pacifico'), serif !default;

$fa-font-path: 'https://pro.fontawesome.com/releases/v5.15.4/webfonts/' !default;
