@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Poppins&family=Inter&display=swap");

$primary-ff: quote("Poppins"), sans-serif !default;
$secondary-ff: quote("Inter"), sans-serif !default;
$accent-ff: quote("Pacifico"), cursive !default;

$font-awesome-url: "https://pro.fontawesome.com/releases/v5.15.4/" !default;
$webfonts-folder: "webfonts/" !default;
