@use 'sass:map' as *;
@use 'breakpoints' as *;

@mixin basic-icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

@mixin headings {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@content;
	}
}

@mixin respond-to($key) {
	$size: get($breakpoints, $key);

	@media screen and (min-width: $size) {
		@content;
	}
}
