$spacings: (
    micro: .125,         // 2px
    mini: .2,            // 3px
    tiny: .3125,         // 5px
    xsmall: .5,          // 8px
    small: .625,         // 10px
    medium: .67,         // 11px
    default: 1,          // 16px
    large: 1.6,          // 25px
    xlarge: 2,           // 32px
    huge: 2.5,           // 40px
    gigentic: 4.25       // 64px
) !default;