$spacings: (
  micro: 0.125, // 2px
  mini: 0.2, // 3px
  tiny: 0.3125, // 5px
  xsmall: 0.5, // 8px
  small: 0.625, // 10px
  medium: 0.67, // 11px
  default: 1, // 16px
  large: 1.6, // 25px
  xlarge: 2, // 32px
  huge: 2.5, // 40px
  gigentic: 4.25, // 64px
) !default;
