$body-color: #f3f3f3;
// $subdued-color: #ddd;
$text-color: #4d4d4d;

// $primary-color: #2c963e;
// $accent-color: #d8b907;

$accent-color: #2c963e;
$primary-color: #d8b907;

$link-color: #037224;

// $primary-color: #037224;
$primary-color: #ddd;
$accent-color: #069992;
$link-color: #069968;

$logo-size: 50px;
$image-size: 32px;

$sizing: 1rem;
$spacing: 32px;