@forward 'grid';
@forward 'generate';
@forward 'flow';
@forward 'extend';

@use '../abstracts/mixins' as *;

.bg-none {
    background-color: transparent;
}

.bg-primary {
    background-color: var(--primary-color);
}

.category {
    --extend-space: 0;

    > .sub-category {
        --extend-space: var(--micro-space);
        overflow: auto;
        padding-inline: var(--small-space);
    }
}

.tags-catalog {
    overflow: hidden;
}

.lg\:bg-none {
    @include respond-to(lg) {
        background-color: transparent;
    }
}

.lg\:hidden {
    @include respond-to(lg) {
        display: none;
    }
}