@use '../abstracts' as *;

@include icon('github', true) {
	//content: "\f092";
	content: '\f09b';
}
@include icon('linkedin', true) {
	//content: "\f08c";
	content: '\f0e1';
}
@include icon('email', false) {
	//content: "\f0e0";
	content: '\f1fa';
}
@include icon('location', false) {
	content: '\f3c5';
}
@include icon('phone', false) {
	// content: "\f879";
	content: '\f10b';
}

.icon {
	position: relative;
	margin-inline-end: 10px;
	// padding-block: 5%;
	// padding-inline: 1%;
	@include icon-regular();
	// background-color: $accent-color;
	// border-radius: 3px;
	// color: $primary-color;
	z-index: 2;

	// display: none;
}

.certification .icon::before {
	//content: "\f0a3";
	content: '\f5f3';
}

.education .icon::before {
	content: '\f19d';
}

.tech-stack .icon::before {
	content: '\f121';
}

.skills .icon::before {
	content: '\f187';
}

.personal-projects .icon::before {
	content: '\f85d';
}

.interests .icon::before {
	content: '\f07c';
}

.details .icon::before {
	content: '\f129';
}

.heading,
.subheading {
	margin-block: 0;
	padding-block: 0.4em;
	clear: both;
	z-index: 1;
}

.heading {
	// padding-block: 0;
	padding-bottom: 0.3em;
	// border-bottom: 2px solid $primary-color;
}

.subheading {
	margin: 0;
	padding-inline: 0.2em;
	float: left;
}

.text-accent {
	color: $accent-color;
}