@use '../abstracts/mixins' as *;
@use '../utilities/extend' as *;

main {
	font-family: var(--primary-ff);
	color: var(--text-color);
	line-height: 1.5;
}

@include headings() {
	padding-block: var(--mini-space);

	&,
	.timeline__title,
	.timeline__subheading {
		font-family: var(--secondary-ff);
		line-height: 1.2;
	}
}

a {
	text-decoration: none;
	color: var(--link-color);

	&:after {
		@extend %regular-icon;
		//content: '\f360';
		content: '\f08e';
		// font-size: 12px;
		padding-left: var(--tiny-space);
		color: var(--primary-color);
	}

	&:hover {
		text-decoration: underline;
	}

	&:hover:after {
		color: var(--accent-color);
	}
}

:focus {
	outline: 1px dotted var(--link-color);
	outline-offset: 0.25rem;
}

@include icon('download') {
	content: '\f33d';
}

@include icon('pdf') {
	content: '\f1c1';
}

@include icon('word') {
	content: '\f1c2';
}

@include icon('theme-switch__label') {
	content: '\f186';

	@media (prefers-color-scheme: dark) {
		content: '\f185';
	}
}

@include icon('theme-switch:checked + .theme-switch__label') {
	content: '\f185';

	@media (prefers-color-scheme: dark) {
		content: '\f186';
	}
}

@include icon('location') {
	content: '\f3c5';
}
@include icon('phone') {
	// content: "\f879";
	content: '\f10b';
}
@include icon('email') {
	//content: "\f0e0";
	content: '\f1fa';
}
@include icon('linkedin', true) {
	//content: "\f08c";
	content: '\f0e1';
}
@include icon('github', true) {
	//content: "\f092";
	content: '\f09b';
}

%category {
	position: relative;
	margin-inline-end: var(--small-space);
	// padding-block: 5%;
	// padding-inline: 1%;
	// background-color: $accent-color;
	// border-radius: 3px;
	// color: $primary-color;
}
@include icon('heading__icon') {
	@extend %category;

	&[data-icon='tech-stack'] {
		content: '\f121';
	}
	&[data-icon='technical-skills'] {
		content: '\f121';
	}
	&[data-icon='soft-skills'] {
		content: '\f187';
	}
	&[data-icon='certifications'] {
		//content: '\f0a3';
		content: '\f5f3';
	}
	&[data-icon='education'] {
		content: '\f19d';
	}
	&[data-icon='personal-projects'] {
		content: '\f85d';
	}
	&[data-icon='interests'] {
		content: '\f07c';
	}
	&[data-icon='contact-details'] {
		content: '\f129';
	}
}

.heading,
.subheading {
	margin: 0;
	clear: both;
}

.heading {
	padding-block-start: var(--default-space);
}

.subheading {
	// padding-block: calc(var(--mini-space) + 0.2rem);
	padding-inline-end: var(--mini-space);
	float: left;
}

.text-accent {
	color: var(--accent-color);
}

p,
ol:not([class]),
ul:not([class]),
li:not([class]) {
	max-width: 60ch;
}
