---
import website from '@/website.config';

import Resume from '@/components/resume';
import SEO from '@/components/SEO/index.svelte';
import resumePreview from '@/images/ResumePreview.png';
import AppLayout from '@/layouts/app.astro';
import { Content } from '@/lib/content';
import { Picture } from 'astro:assets';

const pageTitle = 'Resume',
	metadescription =
		'Hard working and detail oriented professional, seeking a software development position where I can use my skills and contribute to the growth of a company.',
	slug = '/Resume',
	{ author } = website;

const breadcrumbs = [
	{
		name: 'Home',
		slug: Astro.url.origin,
	},
	{
		name: pageTitle,
		slug,
	},
];

const entityMeta = {
	url: slug,
	faviconWidth: 512,
	faviconHeight: 512,
	caption: author,
};

const seo = {
	article: false,
	title: pageTitle,
	slug,
	entityMeta,
	breadcrumbs,
	metadescription,
};

const data = await Content.getLatestResumeData();
---

<SEO {...seo} client:load="svelte" />

<AppLayout>
	<div class="resume:hidden">
		<Picture
			src={resumePreview}
			formats={['avif', 'webp', 'png']}
			widths={[360, 720, 1080, resumePreview.width]}
			sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, ${resumePreview.width}px`}
			alt="Resume"
		/>
	</div>
	<!-- TODO: make this image at smaller than lg/xlg -->
	<Resume {data} />
</AppLayout>

<style lang="scss">
	@use '@/styles/abstracts/mixins' as *;

	:global(main) {
		place-content: center;
		place-items: center;
	}

	:global(section#resume.resume) {
		display: none;
		border-radius: 8px;

		@include respond-to(resume) {
			display: grid;
			// thead, tbody {
			//     width: 100%;
			//     display: grid;
			//     grid-auto-flow: column;
			//     // justify-content: space-between;
			// }
			// grid-template-columns: 2fr 1fr;
			// grid-template-rows: repeat(var(--grid-rows, 7), auto);
		}
	}
</style>
