---

---

<section aria-label="heading">
	<h2 id="heading">Projects</h2>
	<div class="projects"></div>
	<!-- <img src="/me.png" />
    <img src="/profile.png" />
    <img src="/me.png" /> -->
</section>

<style lang="scss">
	h2 {
		font-size: 1.5em;
		padding: 0.5rem;
		margin: auto;
		width: 100%;
		max-width: 1152px;

		@media (min-width: 640px) {
			padding: 1rem;
		}

		@media (min-width: 768px) {
			padding: 1.5rem;
		}
	}

	.projects {
		margin: auto;
		columns: 300px;
		width: 100%;
	}
</style>
