---
import Card from '../card/index.astro';
---
<!-- title="Countries I visited"
href="travel"
colorText="text-neutral-900" -->

<Card
	colSpan={1}
	rowSpan={1}
>
	<div class="h-full w-full absolute inset-0 -z-10"></div>
</Card>
