---
	import '@/styles/index.scss';

	import PWA from '../components/PWA.svelte';
	import Navbar from '../components/Navbar.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<PWA />
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
	main {
		margin-block: 26px;
		margin-left: 46px;
		font-size: 1rem;
	}
</style>
