@use 'profile';
@use 'contact-details';
@use 'timeline';
@use 'tags-catalog';
@use 'personal-projects';
@use 'interests';
@use '../../abstracts/mixins' as *;

section#resume.resume {
	@include headings() {
		font-family: var(--secondary-ff);
		font-optical-sizing: auto;
		font-style: normal;
		padding-block: var(--mini-space);
	}

	& > table {
		// display: grid;
		// grid-template-columns: 2fr 1fr;
		width: 100%;
		text-align: left;
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;

		& th {
			--flow-space: var(--small-space);
			vertical-align: top;
			height: 100%;
			// font-weight: 400;
		}
		& td {
			vertical-align: top;
		}

		// & td {
		// 	padding: 0;
		// }

		// & td:has(.profile) {
		// 	grid-column: 1 / span 2;
		// }
	}

	// .profile {
	// 	display: grid;
	// }

	.project.gallery {
		margin-block-start: var(--mini-space);
		margin-inline: var(--tiny-space);
	}
}
