@use '../abstracts/mixins' as *;

// layout

html {
	print-color-adjust: exact;
	-webkit-print-color-adjust: exact;
}

main {
	display: grid;
	place-content: center;
	place-items: center;
}

section#resume.resume {
	grid-column: 1/-1;
	width: 297mm;
	max-height: 420mm;
	background-color: var(--resume-bg);
	padding: var(--default-space);
	color: var(--resume-text);
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

	// @include respond-to(resume) {
	// 	display: grid;
	// 	// thead, tbody {
	// 	//     width: 100%;
	// 	//     display: grid;
	// 	//     grid-auto-flow: column;
	// 	//     // justify-content: space-between;
	// 	// }
	// 	// grid-template-columns: 2fr 1fr;
	// 	// grid-template-rows: repeat(var(--grid-rows, 7), auto);
	// }
}

@page {
	size: A3;
	margin: 0;
}

@media print {
	.navbar {
		display: none;
		visibility: hidden;
	}
}
