.personal-projects {
	background-color: var(--primary-color);

	&__project {
		padding-block: var(--xsmall-size);
		font-size: 0.9em;
	}

	&__list {
		padding: 0;
	}

	&__proj {

		&-img {
			> img {
				display: none;
				// position: relative;
				// left: -9999%;
			}
		}

		&-name {
			font-weight: bold;
			font-size: 1rem;
		}

		&-summary {
			margin: var(--auto-size) var(--xsmall-size);
			max-width: 60ch;
		}
	}
}
