body {
	max-width: 800px;
	background-color: $body-color;

	@include headings() {
		padding-block: 0.2em;
	}

	main {
		header {
			> * {
				margin: 0 8px;
			}

			h1 {
				margin: 0.67em 0 0 0;
			}

			@include headings() {
				padding-block: 0;
			}

			p {
				margin-block: 1em;
			}
		}

		> section {
			padding: 1em 8px;
		}
	}
}
