@use '@/styles/abstracts' as *;

:root {
	// custom props
	--resume-bg: #ffffff;
	--resume-text: #000000;

	// font family
	--primary-ff: #{$primary-ff};
	--secondary-ff: #{$secondary-ff};
	--accent-ff: #{$accent-ff};

	// spacings
	@each $size, $value in $spacings {
		--#{$size}-space: #{$value}rem;
	}

	// theme
	@each $color, $value in $colors {
		--#{$color}-color: #{$value};
	}

	&[data-theme='dark'] {
		@each $color, $value in $dark {
			--#{$color}-color: #{$value};
		}
	}

	@media (prefers-color-scheme: dark) {
		@each $color, $value in $dark {
			--#{$color}-color: #{$value};
		}

		&[data-theme='light'] {
			@each $color, $value in $light {
				--#{$color}-color: #{$value};
			}
		}
	}

	@media print {
		@each $size, $value in $spacings {
			--#{$size}-space: #{((($value * 16) * 0.74999943307122) + 0pt)};
		}
	}
}
