@use '../abstracts' as *;

:root {
	--primary-ff: #{$primary-ff};
	--secondary-ff: #{$secondary-ff};
	--accent-ff: #{$accent-ff};

	// theme colors
	--dark-bg: #{$dark-bg};
	--dark-text: #{$dark-text};
	--dark-primary: #{$dark-primary};
	--dark-accent: #{$dark-accent};
	--dark-link: #{$dark-link};

	--base-bg: #{$base-bg};
	--base-text: #{$base-text};
	--base-primary: #{$base-primary};
	--base-accent: #{$base-accent};
	--base-link: #{$base-link};

	// spacing-sizes
	@each $size, $value in $spacings {
		--#{$size}-size: #{$value};
	}
}
