@use "sass:selector" as *;
@use "sass:map" as *;
@use "sass:string" as *;
@use "../abstracts/font-families" as *;
@use '../abstracts/mixins' as *;
@use '../utilities/extend' as *;

@include headings() {
	font-family: var(--secondary-ff);
	padding-block: var(--mini-space);

	&,
	.timeline__heading {
		line-height: 1.2;
	}
}

h1 {
	font-weight: 700;
}
h2 {
	font-weight: 600;
}

.download {
	@include icon('download');
}

.pdf {
	@include icon('pdf');
}

.word {
	@include icon('word');
}

%toggle-light {
	@include icon('moon');

	@at-root [data-theme='dark'] & {
		@include icon('sun');
	}
}

@media (prefers-color-scheme: dark) {
	%toggle-dark {
		@include icon('sun');

		@at-root [data-theme='light'] & {
			@include icon('moon');
		}
	}
}

.theme-switch__label {
	@extend %toggle-light;
	@extend %toggle-dark;
}

// @include icon('theme-switch:checked + .theme-switch__label') {
// 	content: '\f185';

// 	// @media (prefers-color-scheme: dark) {
// 	// 	content: '\f185';
// 	// }
// }

p,
ol:not([class]),
ul:not([class]),
li {
	max-width: 65ch;
	text-wrap: pretty;
}

section#resume.resume {
	font-family: var(--primary-ff);
	color: var(--text-color);
	font-size: 0.8rem;

	& .location {
		@include icon('location');
	}
	& .phone {
		@include icon('phone');
	}
	& .email {
		@include icon('email')
	}
	& .linkedin {
		@include icon('linkedin-in', true)
	}
	& .github {
		@include icon('github', true)
	}

	%category {
		position: relative;
		margin-inline-end: var(--small-space);
		// padding-block: 5%;
		// padding-inline: 1%;
		// background-color: $accent-color;
		// border-radius: 3px;
		// color: $primary-color;
	}

	& .heading__icon {
		@extend %category;

		@at-root #{unify(&, "[data-icon='tech-stack']")} {
			@include icon('tech-stack');
		}
		@at-root #{unify(&, "[data-icon='technical-skills']")} {
			@include icon('technical-skills');
		}
		@at-root #{unify(&, "[data-icon='soft-skills']")} {
			@include icon('soft-skills')
		}
		@at-root #{unify(&, "[data-icon='personal-projects']")} {
			@include icon('personal-projects')
		}
		@at-root #{unify(&, "[data-icon='interests']")} {
			@include icon('interests')
		}
		@at-root #{unify(&, "[data-icon='contact-details']")} {
			@include icon('contact-details')
		}
	}

	%badge {
		display: inline-block;
		// margin-inline: var(--xsmall-space);
		// padding-inline: var(--small-space);
		// margin-block-start: var(--tiny-space);
		// padding-block-start: var(--tiny-space);
		line-height: 1.2;
		font-size: 1.5em;
		// transform: translateY(-8px);

		@include respond-to(sm) {
			// transform: translateY(-10px);
		}
	}

	& .timeline__icon {
		@extend %badge;

		@at-root #{unify(&, "[data-icon='work']")} {
			@include icon('work')
		}
		@at-root #{unify(&, "[data-icon='certificates']")} {
			@include icon('certificates-alt')
		}
		@at-root #{unify(&, "[data-icon='education']")} {
			@include icon('education-alt')
		}
	}

	& a {
		text-decoration: none;
		color: var(--link-color);

		&:after {
			@include regular-icon;
			//content: '\f360';
			content: quote(get($icons, 'external-link'));
			// font-size: 12px;
			padding-inline-start: var(--tiny-space);
			color: var(--primary-color);
		}

		&:hover {
			text-decoration: underline;
		}

		&:hover:after {
			color: var(--accent-color);
		}
	}

	& .heading,
	& .subheading {
		margin: 0;
		clear: both;
	}

	& .heading {
		padding-block-start: var(--default-space);
		font-size: 1rem;
		font-weight: 600;
	}

	& .subheading {
		padding-inline-end: var(--mini-space);
		float: left;
		font-size: 0.95rem;
		font-weight: 500;
	}

	& .text-accent {
		color: var(--accent-color);
		font-weight: 400;
	}

	& .profile p {
		font-weight: 500;
		max-width: 70ch;
		font-size: 0.85rem;
		margin-block-end: var(--xsmall-space);
	}

	& .personal-projects {

		header {
			font-family: var(--secondary-ff);
			font-weight: 600;
			font-size: 0.8rem;
			text-wrap: balance;
		}

		li {
			padding-block: var(--mini-space);
		}

		p {
			margin: var(--mini-space);
		}
	}

}
