body {
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	line-height: 1.5;

	@include headings() {
		&,
		.title,
		.job-title,
		.major {
			font-family: 'Poppins', sans-serif;
			line-height: 1.2;
		}
	}

	a {
		text-decoration: none;
		color: $link-color;

		&:after {
			@include icon-regular() {
				//content: '\f360';
				content: '\f08e';
				// font-size: 12px;
				padding-left: 5px;
				color: $primary-color;
			}
		}

		&:hover {
			text-decoration: underline;
		}

		&:hover:after {
			color: $accent-color;
		}
	}

	.personal-projects {
		.projects {
			font-size: 0.9rem;

			.project {
				.name {
					font-weight: bold;
				}
			}
		}
	}
}